<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Artifactory" value="https://tylertech.jfrog.io/artifactory/api/nuget/v3/nuget" protocolVersion="3"/>
  </packageSources>
  <packageSourceCredentials>
    <Artifactory>
      <add key="username" value="%ARTIFACTORY_USERNAME%"/>
      <add key="cleartextpassword" value="%ARTIFACTORY_PASSWORD%"/>
    </Artifactory>
  </packageSourceCredentials>
</configuration>
